{% extends "layout.html" %}
{% block content %}

<!-- Cards (Calculator and Methodology) -->
<div class="calculator-grid">


  <div class="calculator-card">
    <h3><strong>FERRY</strong></h3>
    <form method="POST" action="">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
        <div class="form-group">
          {{form.kms.label(class="form-control-label")}}
          {{form.kms(class="form-control")}}
        </div>
        <div class="form-group">
          {{form.fuel_type.label(class="form-control-label")}}
          {{form.fuel_type(class="form-control")}}
        </div>
      </fieldset>
      <br>
      <div class="form-group">
        {{ form.submit(class="btn_calculator_new_entry_main") }}
      </div>
    </form>

  </div>


  <div class="calculator-card">
    <p><strong>Methodology</strong></p>
    <p>
      Ferry emissions are based on economic allocation, meaning emissions are split 
        between passengers and freight according to the share of income each generates. 
        Passenger emissions are calculated using a standardized emission factor for 
        ferries using standard fuel.
    </p>
     <p><strong>Formula:</strong></p>
        <p>E = d × FE</p>
  </div>

</div>

{% endblock %}
