{% extends "layout.html" %}
{% block content %}

<!-- Cards (Calculator and Methodology) -->
<div class="calculator-grid">

  
  <div class="calculator-card">
    <h3><strong>TRAIN</strong></h3>
    <form method="POST" action="">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
        <div class="form-group">
          {{form.kms.label(class="form-control-label")}}
          {{form.kms(class="form-control")}}
        </div>
        <div class="form-group">
          {{form.fuel_type.label(class="form-control-label")}}
          {{form.fuel_type(class="form-control")}}
        </div>
      </fieldset>
      <br>
      <div class="form-group">
        {{ form.submit(class="btn_calculator_new_entry_main") }}
      </div>
    </form>

  </div>


  <div class="calculator-card">
    <p><strong>Methodology</strong></p>
    <p>
Train emissions depend on the type of energy used: Nordic electricity, diesel, 
        or 100% biofuel (HVO100). Electric trains produce very low emissions, while diesel 
        trains emit significantly more. All values are calculated per passenger-kilometer.
    </p>
     <p><strong>Formula:</strong></p>
        <p>E = d × FE 
    </p>
  </div>

</div>

{% endblock %}
