/* Hero Section */

.hero{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 150px 20px;
  text-align:center;
  color: rgb(240, 222, 193);
}

.hero h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
}

.hero p {
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.2rem;
  line-height: 1.8;
  color: rgb(240, 222, 193);
  text-align: justify;
}


/* Team Section */

.team-section {
    padding: 60px 20px;
    text-align: center;
    color: rgb(240, 222, 193);
}

.team-section h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

/* Team-Grid*/
.team-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}
/* Team Cards*/
.team-card {
    background-color: rgba(24, 31, 25, 0.8);
    padding: 20px;
    border-radius: 16px;
    width: 350px;
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.team-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.3);
}

.team-card h3 {
    margin: 10px 0 5px;
    font-size: 1.2rem;
}

.team-card p {
    font-size: 1rem;
    color: rgb(240, 222, 193);
}

/* Linked-In-Button */
.btn_linkedin {
    background-color: #0e76a8;
    color: rgb(240, 222, 193);
    padding: 10px;
    border-radius: 12px;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Hover-Effekt */
.btn_linkedin:hover {
    transform: scale(1.05) translateY(-8px);
    background-color: rgb(240, 222, 193);
    color: #0e76a8;
    font-weight: 700;
}


@media (max-width: 768px) {
  .hero {
    background-position:center;
    font-size: 16px;
  }
}