/* Colors */
/*Navbar (background): #11461e
Navbar (a hover): rgb(161, 73, 6)
Navbar (logo): rgb(240, 222, 193)
Navbar (a menu): rgb(240, 222, 193)
Footer (background): #11461e
*/


@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&family=BBH+Sans+Bogle&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background-image: url("https://images.unsplash.com/photo-1470115636492-6d2b56f9146d?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=2940");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}




body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35); 
  z-index: -1;
}

/* Navbar */
.navbar {
  background-color: transparent;
  backdrop-filter: blur(5px);
  color: white;
}


.navbar a:hover {
  color: #7bc47f; 
}

/* CSS utilities */
*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0;
}

body {
    background-color: #11461e;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}
.container {
  margin: 0 auto;
  width: 90%; 
  max-width: 1200px; 
  padding: 10px 15px; 
}
.calculator-section {
  padding: 40px 0; 
  background: rgba(0, 0, 0, 0.4); 
  border-radius: 12px; 
  max-width: 800px;
  margin: 40px auto; 
}


ul { 
  list-style: none;
  font-weight: 400;
}
a {
  color: #7cac7d;
  text-decoration: none;
}
h1, h2 {
  margin-bottom: 15px;
  font-weight: 500;
}

p {
  margin: 8px 0;
  font-size: 16px;
  color: rgb(240, 222, 193);
}

/* Navbar */
.section_navbar {
  background-color: transparent;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  height: 70px;
  padding: 0 60px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 2rem;
  font-weight: 700;
  color: rgb(240, 222, 193);
}

.logo .text-logo-o i {
  position: relative;
  top: 2.25px;
  margin-left: -7px;
  font-size: 1.8rem;
}

/* Menu principal */
.navbar nav {
  flex: 1;
  display: flex;
  justify-content: center; 
}

.navbar nav ul {
  display: flex;
  gap: 100px;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar nav a {
  color: rgb(240, 222, 193);
  text-decoration: none;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}

.navbar nav a:hover {
  border-bottom: 2px solid #7bc47f;
}

/* Footer  */
html, body {
  height: 100%; 
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; 
}

.section_footer {
  background-color: transparent;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 70px;
  padding: 0;
  color: rgb(240, 222, 193);
}


@media (max-width: 768px) {
  body {
    background-position: center;
    font-size: 16px;
  }

  .navbar {
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    height: auto;
  }

  .navbar nav ul{
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
/* Boutons Login / Register */
.auth-buttons {
  display: flex;
  gap: 15px;
  align-items: center;
}

.btn-auth {
  background-color: rgb(240, 222, 193);
  color: #181f19;
  padding: 6px 14px;
  border-radius: 8px;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn-auth:hover {
  background-color: #d7c8a8;
  color: #000;
}
a {
  color: rgb(240, 222, 193); 
  text-decoration: none; 
}

a:hover {
  color: #7bc47f; 
  text-decoration: underline; 
}


.flash-message {
    font-size: 14px; 
    padding: 10px 20px; 
    border-radius: 8px; 
    margin: 10px auto; 
    width: fit-content; 
}

.flash-message.success {
    background-color: #11461e; 
    color: rgb(240, 222, 193);
}

.flash-message.danger {
    background-color: #e96025; 
    color: rgb(240, 222, 193);
}


table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgb(240, 222, 193); 
    backdrop-filter: blur(5px);
    color: white;
    
}

th, td {
    border: 1px solid #ddd; 
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2; 
}

.team-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin: 2rem 0;
}

.team-card {
    background-color: rgba(0,0,0,0.4); 
    color: #f0dec1;
    padding: 20px;
    border-radius: 15px;
    max-width: 300px;
    text-align: center;
}

.team-card .profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.5);
}

.team-card h3 {
    margin: 10px 0 5px 0;
    font-size: 22px;
}

.team-card p {
    font-size: 14px;
    line-height: 1.4;
}

.btn_linkedin {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #0077B5;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 14px;
}

.btn_linkedin:hover {
    background-color: #005582;
}


@media (max-width: 768px) {
    .team-grid {
        flex-direction: column;
        align-items: center;
    }
}

.team-card .profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.5);
}
